@font-face {
  font-family: Bell;
  src: url(../Bell.ttf);
}
body {
  font-family: Bell;
  background-color: rgb(255, 255, 255);
  color: #111111;
}

h1,
h2,
h3,
h4,
h5 h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: inside;
}

a {
  text-decoration: none;
  color: #212121;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

header {
  font-family: Bell;
  background-color: rgb(255, 255, 255);
  color: #111111;
}

.navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding: 15px 0;
  line-height: 1.62;
  font-weight: 100;
}
@media screen and (min-width: 768px) {
  .navigation {
    font-size: 20px;
    gap: 50px;
    letter-spacing: 1.5px;
  }
}

.nav_item:hover, .nav_item:focus {
  color: #689c45;
}

.hero {
  display: block;
  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 300px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
    padding: 200px 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 425px 0;
    padding-top: 325px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  }
}

.hero_upper-title {
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 30px;
  color: white;
}
@media screen and (min-width: 768px) {
  .hero_upper-title {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hero_upper-title {
    font-size: 30px;
  }
}

.hero__title {
  color: white;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 56px;
    line-height: 1.36;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 70px;
    line-height: 1.36;
    letter-spacing: 5px;
    font-weight: 100;
  }
}

.about {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .about_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about_title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 34px;
  letter-spacing: 1.3px;
  padding-left: 26%;
  font-weight: 600;
  margin-top: -5px;
  margin-bottom: 6px;
}
@media screen and (min-width: 500px) {
  .about_title {
    padding-left: 35%;
  }
}
@media screen and (min-width: 768px) {
  .about_title {
    font-size: 44px;
    padding-left: 36%;
  }
}
@media screen and (min-width: 1200px) {
  .about_title {
    width: 700px;
    font-size: 56px;
    padding-left: 28%;
    font-weight: 600;
    margin-bottom: 0;
  }
}

.about_text {
  margin-bottom: 30px;
  line-height: 1.62;
  text-align: justify;
  font-weight: 100;
}
@media screen and (min-width: 768px) {
  .about_text {
    font-size: 20px;
    margin-bottom: 0;
    letter-spacing: 1.5px;
  }
}
@media screen and (min-width: 1200px) {
  .about_text {
    padding-right: 100px;
    padding-left: 12px;
  }
}

.number {
  font-family: -apple-system-footnote;
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  .about_img {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about_img {
    width: 400px;
    height: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .about_img {
    width: 580px;
  }
}

.price {
  padding-top: 30px;
  padding-bottom: 70px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .price {
    padding-top: 60px;
    padding-bottom: 90px;
    text-align: initial;
  }
}

@media screen and (min-width: 1200px) {
  .price_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 60px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.price_img {
  margin-left: 10px;
}
@media screen and (min-width: 300px) and (max-width: 700px) {
  .price_img {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .price_img {
    width: 580px;
    height: 100%;
  }
}
@media screen and (min-width: 300px) and (max-width: 900px) {
  .price_img {
    display: none;
  }
}

.price_img-second {
  margin: 0 auto;
  margin-top: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .price_img-second {
    margin: 0;
    width: 400px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}
@media screen and (min-width: 901px) {
  .price_img-second {
    display: none;
  }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .price_wrapper {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .price_wrapper {
    width: 580px;
    padding-left: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .list_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 80px;
    margin-top: -10px;
  }
}

.price_list {
  padding: 0;
  text-align: justify;
}
@media screen and (min-width: 1200px) {
  .price_list {
    width: 580px;
    padding-left: 20px;
  }
}

.price_list__second {
  padding-left: 0;
}

.price_list_title {
  line-height: 1.55;
  margin: 0;
  margin-bottom: 10px;
  text-align: justify;
  color: #689c45;
  font-style: italic;
  font-weight: 100;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .price_list_title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .price_list_title {
    font-size: 32px;
    line-height: 1.55;
    padding-bottom: 10px;
  }
}

.price_accent {
  color: #689c45;
  font-weight: 100;
}

.accent2 {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .accent2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .accent2 {
    font-size: 24px;
  }
}

.price_list_item {
  padding: 15px 0px;
  padding-left: 10px;
  font-weight: bold;
  list-style: none;
}
.price_list_item:last-child {
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .price_list_item {
    padding-bottom: 15px;
    font-size: 20px;
  }
}

.price_list_item__title {
  text-align: left;
  padding: 30px 0;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .price_list_item__title {
    padding-top: 30px;
    font-size: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .price_list_item__title {
    text-align: center;
    font-size: 32px;
    line-height: 1.55;
    font-weight: 600;
    letter-spacing: 1.6px;
    padding-top: 0;
  }
}

.price_list__lower_title {
  font-size: 16px;
  text-align: center;
  color: #689c45;
  font-style: italic;
  font-weight: 100;
}
@media screen and (min-width: 768px) {
  .price_list__lower_title {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 1.6px;
  }
}

.price_list_text {
  font-size: 16px;
  font-weight: 100;
  padding-bottom: 6px;
}
@media screen and (min-width: 768px) {
  .price_list_text {
    font-size: 20px;
    line-height: 1.34;
    letter-spacing: 1.6px;
  }
}
@media screen and (min-width: 1200px) {
  .price_list_text {
    line-height: 1.58;
    padding-left: 12px;
  }
}

.info {
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .info {
    padding-bottom: 30px;
  }
}

.info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_title {
  font-size: 28px;
  color: #111111;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .info_title {
    font-size: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .info_title {
    font-size: 32px;
    line-height: 1.25;
  }
}

.info_wrapper {
  padding: 15px;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .info_wrapper {
    padding: 20px;
    font-size: 18px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .info_wrapper {
    padding: 50px;
  }
}

.info_text {
  text-align: center;
  font-size: 16px;
}
@media screen and (min-width: 1200px) {
  .info_text {
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: 1.5px;
  }
}

.travel-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  list-style: none;
}

.picture {
  width: 280px;
}

.feedback {
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .feedback {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}

.feedback_title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 28px;
}
@media screen and (min-width: 768px) {
  .feedback_title {
    font-size: 32px;
    line-height: 1.25;
  }
}

.feedback_list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
}

.feedback_item {
  width: 150px;
  height: 100%;
  font-size: 14px;
  font-style: italic;
  border-radius: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feedback_item {
    font-size: 18px;
    width: 250px;
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .feedback_item {
    font-size: 20px;
    width: 385px;
    text-align: center;
    line-height: 1.55;
    letter-spacing: 2px;
  }
}

.user_img {
  width: 70px;
  margin-left: 25%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .user_img {
    width: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .user_img {
    width: 150px;
    margin-left: 110px;
  }
}

.feedback_item_accent {
  font-weight: 600;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .footer-container {
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-title {
  font-family: "Butler";
  margin: 0;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .footer-title {
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 1px;
  }
}

.footer-title__second {
  margin-bottom: 2px;
}

.footer_social_list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .footer_social_list {
    margin-bottom: 0;
    gap: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .footer_social_list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
}

.footer-contact-link {
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact-link:hover, .footer-contact-link:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  background-color: #689c45;
  border-radius: 10px;
}
.footer-contact-link:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .footer-contact-link {
    font-size: 18px;
  }
}

.footer-social-link {
  width: 40px;
  height: 40px;
  color: #afb1b8;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: #689c45;
}
.footer-social-link:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .footer-social-link {
    width: 45px;
    height: 45px;
  }
}

.social-link-svg {
  fill: black;
}
.social-link-svg .footer-social-link:hover, .footer-social-link:focus .social-link-svg {
  fill: white;
}

.author {
  font-size: 8px;
  color: #111111;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .author {
    font-size: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .author {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 35px;
    font-size: 12px;
  }
}

.author_link {
  padding-top: 15px;
}
.author_link:hover, .author_link:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  background-color: #689c45;
  border-radius: 10px;
  padding: 2px 10px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 999;
  -webkit-animation: fade 0.6s;
          animation: fade 0.6s;
  overflow: auto;
}

.popup {
  top: 25%;
  left: 0;
  right: 0;
  font-size: 14px;
  margin: auto;
  width: 85%;
  min-width: 320px;
  max-width: 600px;
  min-height: 100px;
  position: absolute;
  padding: 40px;
  background: #fefefe;
  z-index: 1000;
  border-radius: 4px;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  -webkit-animation: fade 0.6s;
          animation: fade 0.6s;
}

.message-text {
  font-size: 16px;
  font-weight: 100;
  padding-bottom: 6px;
}
@media screen and (min-width: 768px) {
  .message-text {
    font-size: 20px;
    line-height: 1.34;
    letter-spacing: 1.6px;
  }
}
@media screen and (min-width: 1200px) {
  .message-text {
    line-height: 1.58;
    padding-left: 12px;
  }
}

.popup p {
  margin: 0 0 1rem 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
}

.close {
  color: #000000;
  font-family: revert;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  position: absolute;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  outline: none;
  fill: black;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.close:hover {
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22);
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.banner-social-link {
  position: relative;
  margin-left: 40%;
  font-size: 16px;
  font-weight: 100;
  padding-bottom: 6px;
}
@media screen and (min-width: 768px) {
  .banner-social-link {
    font-size: 16px;
    line-height: 1.34;
    letter-spacing: 1.6px;
  }
}
@media screen and (min-width: 1200px) {
  .banner-social-link {
    line-height: 1.58;
    padding-left: 12px;
  }
}
.banner-social-link:hover {
  color: #689c45;
  fill: #689c45;
}

.icon-hand {
  position: absolute;
  top: 8px;
}

.form_button {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.87;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #689c45;
  cursor: pointer;
  border-radius: 25px;
  border-color: transparent;
  min-width: 100px;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .form_button {
    font-size: 16px;
    min-width: 200px;
    padding: 10px 32px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: 1000ms;
  transition: 1000ms;
  padding: 40px;
  width: 310px;
}
@media screen and (min-width: 350px) {
  .modal {
    width: 380px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.backdrop.is-hidden > .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.2);
          transform: translate(-50%, -50%) scale(0.2);
}

.backdrop.is-hidden > .modal {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
}

.modal-close-btn {
  color: #000000;
  font-family: revert;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  position: absolute;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  outline: none;
  fill: black;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.modal-close-btn:hover {
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.register-form {
  margin-top: 12px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: black;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.modal-label {
  display: block;
}

.modal-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: black;
  display: block;
  text-align: left;
  margin-bottom: 4px;
}

.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 10px;
  outline: none;
  font-size: 12px;
  color: black;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus-within {
  border-color: #689c45;
}

._error {
  border-color: red;
}

.modal-textarea {
  display: block;
  width: 100%;
  height: 80px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  outline: none;
  color: black;
}
.modal-textarea:-moz-placeholder-shown {
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea:placeholder-shown {
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea:focus-within {
  border-color: #689c45;
}

.text-span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (min-width: 1200px) {
  .text-span {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-btn {
  background: #689c45;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  padding: 10px 52px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.notification {
  text-align: center;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .notification {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */